.alert-primary {
  background-color: #E3F2FD;
  border-color: #1E88E5;
  color: #1565C0;
}
.alert-primary hr {
  border-top-color: #187bd1;
}
.alert-primary .alert-link {
  color: #104d92;
}
.alert-primary,
.alert-primary .close {
  color: #104d92;
}