.text-black {
  font-weight: 900;
}
.text-bold {
  font-weight: 700;
}
.text-semibold {
  font-weight: 500;
}
.text-regular {
  font-weight: 400;
}
.text-light {
  font-weight: 300;
}
.text-thin {
  font-weight: 100;
}
.text-italic {
  font-style: italic;
}
.text-highlight {
  padding: 4px 6px;
}
.text-size-large {
  font-size: 14px;
}
.text-size-base {
  font-size: 13px;
}
.text-size-small {
  font-size: 12px;
}
.text-size-mini {
  font-size: 11px;
}