.app-topbar {
  position: fixed;
  width: 100%;
  height: 50px;
  background: $brand-primary;
  z-index: 101;
  display: block;

  a {
    text-decoration: none;
  }

  .topbar-btn {
    color: #fff;
    font-size: 14px;
    line-height: 50px;
    border-radius: 0;
    &:hover{
      background: $brand-primary-dark;
    }
  }

  //下拉菜单
  .dropdown{
    float: left;
    &.open{
      .topbar-btn{
        color: #333;
        background: #fff;
        border-bottom: 1px solid #eaedf1;
        position: relative;
        &:hover{
          background: #fff;

        }
      }
    }

    .dropdown-menu{
      width: 100%;
      min-width: 0;
      margin: 0;
      padding: 0;
      border: none;
      z-index: 1;
      font-size: 12px;
      border-radius: 0;
      -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
      -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
      box-shadow: 0 1px 3px rgba(0,0,0,0.1);

      li{
        border-bottom: 1px solid #eaedf1;
      }
      li.disabled a{
        color: #999999
      }
      a{
        line-height: 39px;
        padding: 0 0 0 10px;
        display: block;
        clear: both;
        font-weight: normal;
        color: #333;
        white-space: nowrap;
        position: relative;

      }
    }

  }

  //右侧按钮区
  .topbar-info {
    background: $brand-primary-dark;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    .topbar-info-item{
      float: left;
      margin-left:1px;
    }
    .topbar-btn {
      padding: 0 10px;
      height: 50px;
      display: block;
      z-index: 2;
      background: $brand-primary;
      &:hover{
        background: $brand-primary-dark;
      }
      &:after{
        margin-left: 1px;
      }

      &:before{
        margin-left: 1px;
      }

    }
  }

}